.button {
  &,
  &:visited,
  &:link {
    background-color: coral;
    text-decoration: none;
    color: #fff;
    padding: 1.5rem 3rem;
    transition: .5s all cubic-bezier(0.165, 0.84, 0.44, 1);
    text-transform: uppercase;
    display: inline-block;
    border-radius: 1rem;
    margin: 1rem;
    &:hover {
      background-color: lighten(coral, 10%);
    }
  }
}
