.contact-box {
  margin: 0 auto;
  width: 80vw;

  &__contact {
  }

  &__list {
    border: 1px solid #f1f1f1;
    padding: 0 1.2rem;
  }

  &__contact {
    background-color: #fafafa;
    margin: 1rem;
    padding: .3rem 1rem;
    font-size: 1.5rem;
  }
}
