* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit;
  font-size: inherit;
  font-family: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  padding: 0;
  padding: 3rem 5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 2.2rem;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  /* Primary input mechanism system can hover over elements with ease */ }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 1rem 2rem; } }

::selection {
  background-color: coral;
  color: #fff; }

h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  margin: 3rem 0; }

.contact-box {
  margin: 0 auto;
  width: 80vw; }
  .contact-box__list {
    border: 1px solid #f1f1f1;
    padding: 0 1.2rem; }
  .contact-box__contact {
    background-color: #fafafa;
    margin: 1rem;
    padding: .3rem 1rem;
    font-size: 1.5rem; }
    .contact-box__contact input {
      height: 4rem;
      line-height: 4rem;
      flex-basis: 30%;
      flex-grow: 0; }

form {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: .2s all ease-in; }
  form > * {
    flex: 1 1 100%;
    margin-bottom: 2rem;
    transition: .5s all ease;
    border: 1px solid #ccc; }
  form input {
    height: 6rem;
    padding-left: 1rem; }
  form textarea {
    padding-top: 20px;
    padding-left: 1rem;
    resize: none; }
  form input:focus,
  form textarea:focus {
    outline: none;
    box-shadow: 0 0 1px coral;
    border-color: transparent; }
  form [type="submit"] {
    flex-basis: 40%;
    background-color: coral;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .055rem;
    border: none; }

.button, .button:visited, .button:link {
  background-color: coral;
  text-decoration: none;
  color: #fff;
  padding: 1.5rem 3rem;
  transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1rem;
  margin: 1rem; }
  .button:hover, .button:visited:hover, .button:link:hover {
    background-color: #ffa483; }
  .button:active, .button:focus, .button:visited:active, .button:visited:focus, .button:link:active, .button:link:focus {
    background-color: #ff5a1d; }

.button.-delete {
  background-color: red; }
  .button.-delete:hover {
    background-color: #ff3333; }
  .button.-delete:active, .button.-delete:focus {
    background-color: #cc0000; }
